---
import DocumentationLayout from '../../layouts/Documentation.astro';
import ButtonDocumentation from '../../components/Button/Button.documentation.astro';
import './../../styles/global.css';
import HeaderItemDocumentation from '../../components/HeaderItem/HeaderItem.documentation.astro';

const documentationComponents = {
  Button: ButtonDocumentation,
  HeaderItem: HeaderItemDocumentation,
  // altri componenti...
};

export async function getStaticPaths() {
  const components = await import('../components.json');
  return components.default.map((component) => ({
    params: { component: component.name },
  }));
}

const { component } = Astro.params;
const ComponentDoc = documentationComponents[component];
---

<DocumentationLayout>
  <div class="documentation-wrapper">
    <h1>Documentation for {component}</h1>
    {ComponentDoc && <ComponentDoc />}
  </div>
</DocumentationLayout>

<style>
  @import './../../styles/global.css';

  .documentation-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
