---
interface Props {
  type?: 'submit' | 'reset' | 'button';
  disabled?: boolean;
}
const { type = 'button', disabled } = Astro.props;
import './../../styles/colors.css';
---

<button type={type} {disabled}><slot /></button>

<style>
  button {
    background: var(--kila-accent);
    padding: 1rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredoka', sans-serifk;
    font-size: 1.2rem;
    outline: none;
    border: none;
  }
  button[disabled] {
    background: var(--kila-accent-disabled);
  }
  button:hover {
    background: var(--kila-accent-light);
  }
  button:active {
    background: var(--kila-accent-dark);
  }
  button:focus-within {
    box-sizing: border-box;
    border: 2px solid var(--kila-accent-dark);
  }
</style>
