---
import GraphicTeddy from "../../components/graphics/GraphicTeddy/GraphicTeddy.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="unser-konzept" instagram="https://www.instagram.com/kila_kaenguruh/">
    <HeroImage slot="hero" text="Verein">
        <GraphicTeddy />
    </HeroImage>
    <h2>Förderung</h2>
      <p>
        Der Kinderladen Känguruh e.V. wird gefördert durch den Eigenbetrieb der
        Kindertagesstätten der Landeshauptstadt Dresden.
      </p>

      <h2>Über den Verein</h2>
      <p>
        Der Verein hat sich aus einer Elterninitiative gegründet und wird durch
        ehrenamtliche Mitarbeit aller Eltern getragen.
      </p>

      <h2>Vereinsleben</h2>
      <p>
        Der Kinderladen Känguruh zeichnet sich durch ein aktives Vereinsleben
        aus. Wir als Elterninitiative gestalten den Kinderladen zusammen.
      </p>
      <p>
        Neben der Arbeit im Kinderladen gibt es viele gemeinsame Angebote und
        Aktivitäten, die Eltern, Team und die Kinder gemeinsam nutzen. Einige
        Beispiele hierfür sind:
      </p>

      <ul>
        <li>monatliche Elternabende</li>
        <li>Mitgliederversammlung</li>
        <li>Faschingsfeier</li>
        <li>Frühlingswanderung</li>
        <li>Flohmarkt</li>
        <li>Zuckertütenfest</li>
        <li>Sommerfest</li>
        <li>Erntedankfest</li>
        <li>Lampionumzug</li>
        <li>Weihnachtsfeier</li>
      </ul>

      <h2>Spendenkonto</h2>
      <p>
        Bank für Sozialwirtschaft<br />
        IBAN: DE67 3702 0500 0003 5855 01<br />
        BIC: BFSWDE33XXX
      </p>

      <h2>Vereinskonto</h2>
      <p>
        Bank für Sozialwirtschaft<br />
        IBAN: DE94 3702 0500 0003 5855 00<br />
        BIC: BFSWDE33DRE
      </p>

</Layout>
