---
import Button from "../../components/Button/Button.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="kontakt">
  <HeroImage slot="hero" text="Kontakt" />

  <!-- The netlify attribute is not recognized, can be ignored -->
  <!-- @ts-ignore -->
  <form netlify data-netlify="true">
    <label>Name <input type="text" required/></label>
    <br />
    <label>Email <input type="email" required/></label>
    <br />
    <label>Nachricht <textarea required></textarea></label>
    <br />
    <div class="footer">
      <Button type="submit">Senden</Button>
    </div>
  </form>

  <h2>Öffnungszeiten:</h2>
  <p>
    Der Kinderladen ist Montag bis Freitag von 07:30 Uhr bis 17 Uhr geöffnet.
  </p>

  <h2>Für allgemeine Anfragen:</h2>
  <p>
    <strong>Kinderladen</strong><br />
    Kinderladen Känguruh e.V.<br />
    Böhmische Str. 26, 01099 Dresden<br />
    Tel.: 0351/ 80 20 196<br />
    Büro & Fax: 0351/ 80 10 621<br />
    <a href="mailto:mail@kilakaenguruh.de">mail@kilakaenguruh.de</a>
  </p>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
  }

  input,
  textarea {
    padding: 1rem;
    border: 2px solid var(--kila-accent);
  }

  form .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
