---
import GraphicKidPlay from "../../components/graphics/GraphicKidPlay/GraphicKidPlay.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner/Banner.astro";
---

<Layout title="freie-betreuungsplätze">
  <HeroImage slot="hero" text="Freie Betreuungsplätze">
    <GraphicKidPlay />
  </HeroImage>
  <Banner title="Wir suchen aktuell 8 Kinder"
    >Jahrgang 07.2021 bis 02.2025
  </Banner>

  <p>
    Bei Interesse meldet euch bitte bei der AG Kila: <a
      href="mailto:agkila@kilakaenguruh.de">agkila@kilakaenguruh.de</a
    > oder benutzt das <a href="/kontakt">Kontaktformular</a>
  </p></Layout
>
