---
import GraphicKidPlay from "../../components/graphics/GraphicKidPlay/GraphicKidPlay.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner/Banner.astro";
import Button from "../../components/Button/Button.astro";
import IconHeart from "../../components/icons/IconHeart/IconHeart.astro";
import Input from "../../components/Input/Input.astro";
import Select from "../../components/Select/Select.astro";
---

<Layout
  title="freie-betreuungsplätze"
  instagram="https://www.instagram.com/kila_kaenguruh/"
>
  <HeroImage slot="hero" text="Freie Betreuungsplätze">
    <GraphicKidPlay />
  </HeroImage>

  <!-- <h2>Für das Schuljahr 2025/2026:</h2>
  <Banner title="Wir suchen 2 Kinder ab November!">
    <IconHeart slot="icon" />
    Wenn dein Kind ab November 2025 mindestens 18 Monate alt ist, melde dich bei
    uns!
    <br />
    <br />
    <Button href="/kontakt">Melde dich!</Button>
  </Banner>

  <br /> -->

  <h2>Für das Schuljahr 2026/2027:</h2>
  <Banner title="Wir suchen 8 Kinder!">Jahrgang 07.2021 bis 02.2025 </Banner>

  <p>
    Bei Interesse meldet euch bitte <strong
      >für eine der Infoveranstaltungen</strong
    > mit dem Kontaktformular an oder schreibt eine Email an AG Kila: <a
      href="mailto:agkila@kilakaenguruh.de">agkila@kilakaenguruh.de</a
    >
  </p>
</Layout>

<style is:global>
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
  }

  select {
    background-color: white;
  }

  small {
    margin-top: 1rem;
    text-align: center;
  }

  form .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .children-container {
    margin: 2rem 0;
    text-align: center;
  }

  .children-container h3 {
    margin-bottom: 1rem;
  }

  .child-entry {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: 650px) {
    .child-entry {
      flex-direction: column;
    }
  }

  .child-entry select,
  .child-entry input {
    flex: 1;
    padding: 1rem;
    border: 3px solid var(--kila-accent);
    background-color: white;
  }

  .child-entry select:invalid,
  .child-entry input:invalid {
    border: 3px solid red;
  }
  .remove-child {
    background: none;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-left: 0.5rem;
    border: 3px solid red;
    flex-grow: 0.1;
  }

  @media screen and (max-width: 650px) {
    .child-entry input {
      width: calc(100% - 2rem);
    }
    .child-entry select {
      width: 100%;
    }

    .remove-child {
      margin-left: none;
      padding: 0.8rem 2rem;
    }
  }
</style>

<script>
  let numberOfKids = 0;

  function toggleButtonDisabled() {
    const addChildBtn = document.getElementById("add-child");

    if (addChildBtn && addChildBtn instanceof HTMLButtonElement) {
      addChildBtn.disabled = numberOfKids === 3;
    }
  }

  function createChildEntry() {
    numberOfKids++;
    toggleButtonDisabled();
    const childEntry = document.createElement("div");
    childEntry.className = "child-entry";

    const style = document.createElement("style");
    style.innerHTML = `
    select {
      border: 2px solid red;
    }
    `;

    const genderSelect = document.createElement("select");
    genderSelect.name = `child-gender_${numberOfKids}`;
    genderSelect.required = true;
    genderSelect.innerHTML = `
      <option value="">Geschlecht auswählen</option>
      <option value="m">männlich</option>
      <option value="w">weiblich</option>
      <option value="d">divers</option>
    `;

    const ageInput = document.createElement("input");
    ageInput.type = "date";
    ageInput.name = `child-age_${numberOfKids}`;
    ageInput.placeholder = "Geburtstag";
    ageInput.required = true;

    const removeButton = document.createElement("button");
    removeButton.type = "button";
    removeButton.className = "remove-child";
    removeButton.innerHTML = "×";
    removeButton.onclick = () => {
      numberOfKids--;
      toggleButtonDisabled();
      childEntry.remove();
    };

    childEntry.appendChild(genderSelect);
    childEntry.appendChild(ageInput);
    childEntry.appendChild(removeButton);

    return childEntry;
  }

  document.addEventListener("DOMContentLoaded", () => {
    const addChildButton = document.getElementById("add-child");
    const childrenList = document.getElementById("children-list");

    addChildButton?.addEventListener("click", () => {
      const childEntry = createChildEntry();
      childrenList?.appendChild(childEntry);
    });
  });
</script>
