---
import GraphicJump from '../../components/graphics/GraphicJump/GraphicJump.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="freie-stellen" instagram="https://www.instagram.com/kila_kaenguruh/">
  <HeroImage slot="hero" text="Freie Stellen">
    <GraphicJump />
  </HeroImage>
  <div style="display: none">
    <h2>Pädagogische Stellen:</h2>
    <p>Bitte meldet euch bei Interesse bei der AG Personal unter <a href="mailto:personal@kilakaenguruh.de">personal@kilakaenguruh.de</a></p>
  </div>
  
  <h2>Bundesfreiwilligendienst (BUFDI):</h2>
  <p>Wir suchen 2 Bufdis ab August 2025.<p>
  <p>Bei Interesse meldet euch unter <a href="mailto:bufdi@kilakaenguruh.de">bufdi@kilakaenguruh.de</a></p>

  <h2>Praktikant/innen:</h2>
  <p>Wir suchen jederzeit Praktikant:innen!</p>
  <p>
    Bei Interesse meldet euch bitte beim Team unter: <a href="mailto:team@kilakaenguruh.de">team@kilakaenguruh.de</a> oder telefonisch
    0351/8020196
  </p>
</Layout>
