---
const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
  <svg
    width="44"
    height="30"
    viewBox="0 0 54 37"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_36_1346)">
      <path
        d="M2.70244 20.2028L50.5457 19.4951C53.7627 19.4475 53.694 14.448 50.4718 14.4957L2.62849 15.2034C-0.588419 15.251 -0.519801 20.2505 2.70244 20.2028Z"
        fill="white"></path>
      <path
        d="M34.1183 4.9908C36.8016 6.60827 39.3393 8.42212 41.7058 10.4768C42.9394 11.5478 44.1273 12.6715 45.2644 13.8445C45.7588 14.3545 46.2437 14.8738 46.7186 15.4019C47.1795 15.9146 47.792 17.0013 48.3847 17.3414L48.4639 17.4445C48.8152 16.2747 48.7926 15.9347 48.3962 16.4245C48.0203 16.6324 47.6786 17.1765 47.3794 17.49C46.7581 18.1412 46.1367 18.7923 45.5154 19.4435C44.2727 20.7457 43.03 22.048 41.7873 23.3503C39.189 26.0733 36.5906 28.7963 33.9923 31.5193C31.769 33.8492 35.3538 37.3348 37.5797 35.0021C40.517 31.924 43.4542 28.8458 46.3915 25.7677C47.8601 24.2286 49.3287 22.6895 50.7974 21.1505C52.257 19.6208 54.0117 18.0682 53.1833 15.7431C52.5751 14.0362 50.8409 12.4941 49.6268 11.185C48.371 9.83085 47.0502 8.53718 45.6692 7.31082C42.856 4.81249 39.7993 2.57852 36.5778 0.636599C33.8141 -1.02932 31.3653 3.33133 34.1183 4.9908Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_36_1346">
        <rect
          width="35.5144"
          height="53.1523"
          fill="white"
          transform="translate(53.1465) rotate(89.1526)"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
