---
import components from '../components.json';
---

<html>
  <head>
    <title>Component Documentation</title>
  </head>
  <body>
    <h1>Component Documentation</h1>
    <ul>
      {
        components.map(({ name, docPath }) => (
          <li>
            <a href={docPath}>{name}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
