---
import GraphicKidPlay from "../../components/graphics/GraphicKidPlay/GraphicKidPlay.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner/Banner.astro"
---

<Layout title="freie-betreuungsplätze">
  <HeroImage slot="hero" text="Freie Betreuungsplätze">
    <GraphicKidPlay />
  </HeroImage>
  <Banner>Wir suchen aktuell … Kinder im Alter ...</Banner>

  <p>Bei Interesse meldet euch bitte bei der AG Kila: <a href="mailto:agkila@kilakaenguruh.de">agkila@kilakaenguruh.de</a> oder benutzen Sie den <a href="/kontakt">Kontaktformular</a></p>
</Layout>
