---
import GraphicJump from '../../components/graphics/GraphicJump/GraphicJump.astro';
import HeroImage from '../../components/HeroImage/HeroImage.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="impressum">
  <HeroImage slot="hero" text="Impressum" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ut temporibus
    aliquid eum vero eius veritatis, quo, aliquam tempora quisquam maxime
    voluptatum itaque dicta assumenda libero accusamus earum porro at!k
  </p>
</Layout>
