---
import GraphicTeddy from "../../components/graphics/GraphicTeddy/GraphicTeddy.astro";
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kindertreff" instagram="https://www.instagram.com/kindertreffkanguruh/">
  <HeroImage slot="hero" text="Kindertreff" />
  <p>
    <img
      loading="lazy"
      src="/images/kindertreff_banner.jpg"
      alt="Banner Kindertreff"
      width="1280"
    />
  </p>
  <ul>
    <li>ab sofort bis Ende des Jahres: jeden Montag und Donnerstag 14 - 18 Uhr geöffnet </li>
    <li>auf der Böhmischen Straße 26, im Erdgeschoss hinter dem Spielplatz</li>
    <li>Für Kinder von 6-14 Jahren,</li>
  </ul>
  <hr />
  <h2>Wer wir sind</h2>
  <p>
    Der Kindertreff des Kinderladen Känguruh e.V. versteht sich als ein Angebot
    und Anlaufpunkt für Kinder aus der Äußeren Neustadt. Allen Kindern, die bei
    uns ihre Freizeit verbringen, bieten wir die Möglichkeit, sich
    auszuprobieren, sich wohlzufühlen, soziale Kontakte zu knüpfen und für
    Sorgen ein offenes Ohr zu finden.
  </p>
  <p>
    Wir helfen bei Hausaufgaben, feiern zusammen Feste und legen Schwerpunkte
    unserer Arbeit auf Bewegung, Kreativität und altersgerechte Erlebnisse.
  </p>
  <h2>Was wir bieten</h2>
  <p>Der Offene Kindertreff hat 3 Räume zur Verfügung:</p>
  <ul>
    <li>eine Wohnküche zum basteln, spielen und gemeinsamen Kochen</li>
    <li>
      ein Tobezimmer mit Möglichkeiten zum Bude bauen, klettern, austoben und
      verstecken
    </li>
    <li>
      ein Mehrzweckzimmer mit kleiner Theaterbühne, Lese- und Kuschelecke,
      Werkbank und Tischkicker
    </li>
  </ul>
  <p>Bei uns können ausgeliehen werden:</p>
  <ul>
    <li>
      Slackline (Balancierseil) und größere Spiele und Spielgeräte (Riesen-Ski,
      Stelzen, Carom, Leitergolf um.) gegen geringe Gebühr,
    </li>
    <li>
      kostenlose Ausleihe von Spielen und Spielgeräten (Bällen,
      Jonglierutensilien, Sandspielzeug) zur Nutzung auf dem Spielplatz
      innerhalb unserer Öffnungszeiten.
    </li>
  </ul>
  <h2>Ziele unserer Arbeit</h2>
  <ul>
    <li>
      Kinder entwickeln Selbstvertrauen außerhalb schulische Leistungsmuster
    </li>
    <li>Kinder lernen, sich in Gruppen zurecht zu finden und einzubringen</li>
    <li>
      Kinder bekommen einen begleiteten Freiraum, um sich ausleben uns
      ausprobieren zu können
    </li>
    <li>
      Kinder entwickeln ihre künstlerischen, handwerklichen, intellektuellen,
      sportlichen und sozialen Fähigkeiten
    </li>
    <li>
      gesellschaftliche Partizipation für Kinder aus finanziell benachteiligten
      Familien
    </li>
  </ul>

  <h2>Förderung</h2>
  <div class="sos">
    <p>Gefördert durch: SOS Kinderdörfer „Wir springen ein!“</p>
    <a href="https://www.sos-kinderdoerfer.de/informieren/aktuelles/news/wir-springen-ein">
      <img
        loading="lazy"
        src="/images/sos-kinderdoerfer.png"
        alt="Logo SOS Kinderdörfer"
      />
    </a>
  </div>
</Layout>

<style>
  img,
  iframe {
    width: 100%;
    border-radius: 16px;
  }

  .sos {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .sos img {
    width: 200px;
  }
</style>
