---
import HeaderMenuItem from '../components/HeaderItem/HeaderItem.astro';
import IconChat from '../components/icons/IconChat/IconChat.astro';
import IconNote from '../components/icons/IconNote/IconNote.astro';
import Header from '../components/Header/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Webseite der Elterninitiative Kinderladen Känguruh" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page-container">
      <Header />

      <div class="hero">
        <slot name="hero" />
      </div>
      <main>
        <slot />
      </main>

      <footer>
        <HeaderMenuItem text="Kontakt" href="/kontakt"
          ><IconChat slot="icon" /></HeaderMenuItem
        >
        <HeaderMenuItem text="Impressum" href="/impressum"
          ><IconNote slot="icon" /></HeaderMenuItem
        >
      </footer>
    </div>
  </body>
</html>

<style>
  @import './../styles/global.css';
  @import './../styles/colors.css';

  body {
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin: auto;
    overflow-x: hidden;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    flex: 1;

    @media (min-width: 768px) {
      padding: 0;
      overflow-x: visible;
    }
    line-height: 1.6;
  }

  footer {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    padding: 1rem;
    margin-top: auto;
  }

  @keyframes gelatine {
    from,
    to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
</style>
